In [5]:
import pandas as pd

print(pd.__version__)
# 2.0.3

df_ab = pd.DataFrame({'a': ['a_1', 'a_2', 'a_3'], 
                      'b': ['b_1', 'b_2', 'b_3']})
df_ac = pd.DataFrame({'a': ['a_1', 'a_2', 'a_4'], 
                      'c': ['c_1', 'c_2', 'c_4']})

print(df_ab)
print(df_ac)

print(pd.merge(df_ab, df_ac,  how='inner'))

2.2.3
     a    b
0  a_1  b_1
1  a_2  b_2
2  a_3  b_3
     a    c
0  a_1  c_1
1  a_2  c_2
2  a_4  c_4
     a    b    c
0  a_1  b_1  c_1
1  a_2  b_2  c_2

In [12]:
# Task 1: In ra index của 10 học sinh có math score và reading score đều nằm trong Top 100
import pandas as pd

df = pd.read_csv("dataset_2.csv")

top_100_math = df.sort_values(by="math score", ascending=False)
top_100_reading = df.sort_values(by="reading score", ascending=False)
top_10_both = pd.merge(top_100_math, top_100_reading, how='inner').head(10)
print(top_10_both)

   gender race/ethnicity parental level of education         lunch  \
0  female        group E          associate's degree      standard
1    male        group D                some college      standard
2  female        group E           bachelor's degree      standard
3    male        group A                some college      standard
4  female        group E                some college      standard
5    male        group E          associate's degree  free/reduced
6    male        group E           bachelor's degree      standard
7  female        group E                 high school      standard
8    male        group E                some college      standard
9  female        group E           bachelor's degree      standard

  test preparation course  math score  reading score  writing score
0                    none         100            100            100
1               completed         100             97             99
2                    none         100            100            100
3               completed         100             96             86
4                    none         100             92             97
5               completed         100            100             93
6               completed         100            100            100
7                    none          99             93             90
8               completed          99             87             81
9               completed          99            100            100

In [19]:
# Task 2: In ra index của 20 học sinh có điểm writing score cao nhất của mỗi group (race/ethnicity)
top_20 = lambda group: group.sort_values(by="writing score", ascending=False).head(20)

top_20_writing_by_race = df.groupby('race/ethnicity').apply(top_20)
print(top_20_writing_by_race)

                    gender race/ethnicity parental level of education  \
race/ethnicity
group A        546  female        group A            some high school
               614  female        group A          associate's degree
               820  female        group A            some high school
               571    male        group A           bachelor's degree
               983  female        group A                some college
...                    ...            ...                         ...
group E        164  female        group E             master's degree
               890  female        group E                some college
               263  female        group E                 high school
               286    male        group E          associate's degree
               216  female        group E          associate's degree

                           lunch test preparation course  math score  \
race/ethnicity
group A        546      standard               completed          92
               614      standard                    none          82
               820      standard               completed          85
               571      standard                    none          91
               983      standard               completed          78
...                          ...                     ...         ...
group E        164      standard                    none          81
               890      standard               completed          86
               263      standard                    none          99
               286      standard               completed          97
               216  free/reduced               completed          83

                    reading score  writing score
race/ethnicity
group A        546            100             97
               614             93             93
               820             90             92
               571             96             92
               983             87             91
...                           ...            ...
group E        164             92             91
               890             85             91
               263             93             90
               286             82             88
               216             86             88

[100 rows x 8 columns]

C:\Users\Ly Anh Huy\AppData\Local\Temp\ipykernel_24836\4180622342.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  top_20_writing_by_race = df.groupby('race/ethnicity').apply(top_20)

In [21]:
# Task 3: Thống kê số lượng học sinh của group A theo parental level of education
group_A = df[df['race/ethnicity'] == 'group A']
education_counts = group_A['parental level of education'].value_counts()
education_counts

parental level of education
some high school      24
some college          18
high school           18
associate's degree    14
bachelor's degree     12
master's degree        3
Name: count, dtype: int64

In [24]:
# Task 4: Có phải xu hướng chung, cha mẹ có học vấn càng cao thì điểm số trung bình 3 môn của con cái cũng càng cao ko

df['average score'] = df[['math score', 'reading score', 'writing score']].mean(axis=1)
edu_avg_score = df.groupby('parental level of education')['average score'].mean()
edu_avg_score

parental level of education
associate's degree    69.569069
bachelor's degree     71.923729
high school           63.096939
master's degree       73.598870
some college          68.476401
some high school      65.108007
Name: average score, dtype: float64

In [25]:
# Task 5: Chất lượng bữa ăn (lunch) có tương phản với điểm số trung bình 3 môn của học sinh không
avg_score_by_lunch = df.groupby('lunch')['average score'].mean()
avg_score_by_lunch

lunch
free/reduced    62.199061
standard        70.837209
Name: average score, dtype: float64

In [ ]:
# Task 6: Tìm ra Top 10 học sinh có điểm toán cao nhất của mỗi group
top_10 = lambda group: group.sort_values(by="math score", ascending=False).head(10)

top_10_math_by_race = df.groupby('race/ethnicity').apply(top_10)
print(top_10_math_by_race)

                    gender race/ethnicity parental level of education  \
race/ethnicity
group A        623    male        group A                some college
               539    male        group A          associate's degree
               546  female        group A            some high school
               571    male        group A           bachelor's degree
               702    male        group A           bachelor's degree
               820  female        group A            some high school
               614  female        group A          associate's degree
               300    male        group A                some college
               77     male        group A           bachelor's degree
               444    male        group A            some high school
group B        855  female        group B           bachelor's degree
               501  female        group B          associate's degree
               815    male        group B            some high school
               121    male        group B          associate's degree
               919    male        group B                some college
               474  female        group B          associate's degree
               333    male        group B          associate's degree
               2    female        group B             master's degree
               274    male        group B                some college
               6    female        group B                some college
group C        104    male        group C                some college
               934    male        group C          associate's degree
               864    male        group C          associate's degree
               562    male        group C           bachelor's degree
               165  female        group C           bachelor's degree
               717  female        group C          associate's degree
               612    male        group C           bachelor's degree
               710    male        group C                some college
               736    male        group C          associate's degree
               594  female        group C           bachelor's degree
group D        625    male        group D                some college
               712  female        group D                some college
               179  female        group D            some high school
               618    male        group D             master's degree
               903  female        group D           bachelor's degree
               957  female        group D             master's degree
               299    male        group D          associate's degree
               659    male        group D          associate's degree
               970  female        group D           bachelor's degree
               130    male        group D             master's degree
group E        149    male        group E          associate's degree
               458  female        group E           bachelor's degree
               962  female        group E          associate's degree
               916    male        group E           bachelor's degree
               451  female        group E                some college
               263  female        group E                 high school
               306    male        group E                some college
               114  female        group E           bachelor's degree
               286    male        group E          associate's degree
               34     male        group E                some college

                           lunch test preparation course  math score  \
race/ethnicity
group A        623      standard               completed         100
               539      standard               completed          97
               546      standard               completed          92
               571      standard                    none          91
               702      standard               completed          87
               820      standard               completed          85
               614      standard                    none          82
               300  free/reduced               completed          81
               77       standard               completed          80
               444  free/reduced                    none          79
group B        855      standard                    none          97
               501      standard               completed          94
               815      standard               completed          94
               121      standard               completed          91
               919      standard               completed          91
               474      standard               completed          90
               333      standard                    none          90
               2        standard                    none          90
               274      standard               completed          88
               6        standard               completed          88
group C        104      standard               completed          98
               934      standard               completed          98
               864      standard                    none          97
               562      standard               completed          96
               165      standard               completed          96
               717      standard               completed          96
               612      standard               completed          94
               710      standard               completed          93
               736      standard                    none          92
               594      standard               completed          92
group D        625      standard               completed         100
               712      standard                    none          98
               179      standard               completed          97
               618      standard                    none          95
               903  free/reduced               completed          93
               957      standard                    none          92
               299  free/reduced                    none          90
               659      standard                    none          90
               970      standard                    none          89
               130      standard                    none          89
group E        149  free/reduced               completed         100
               458      standard                    none         100
               962      standard                    none         100
               916      standard               completed         100
               451      standard                    none         100
               263      standard                    none          99
               306      standard               completed          99
               114      standard               completed          99
               286      standard               completed          97
               34       standard                    none          97

                    reading score  writing score  average score
race/ethnicity
group A        623             96             86      94.000000
               539             92             86      91.666667
               546            100             97      96.333333
               571             96             92      93.000000
               702             84             87      86.000000
               820             90             92      89.000000
               614             93             93      89.333333
               300             78             81      80.000000
               77              78             81      79.666667
               444             82             73      78.000000
group B        855             97             96      96.666667
               501             87             92      91.000000
               815             86             87      89.000000
               121             89             92      90.666667
               919             96             91      92.666667
               474             90             91      90.333333
               333             78             81      83.000000
               2               95             93      92.666667
               274             85             76      83.000000
               6               95             92      91.666667
group C        104             86             90      91.333333
               934             87             90      91.666667
               864             93             91      93.666667
               562             90             92      92.666667
               165            100            100      98.666667
               717             96             99      97.000000
               612             90             91      91.666667
               710             84             90      89.000000
               736             79             84      85.000000
               594            100             99      97.000000
group D        625             97             99      98.666667
               712            100             99      99.000000
               179            100            100      99.000000
               618             81             84      86.666667
               903            100            100      97.666667
               957            100            100      97.333333
               299             87             75      84.000000
               659             87             85      87.333333
               970            100            100      96.333333
               130             84             82      85.000000
group E        149            100             93      97.666667
               458            100            100     100.000000
               962            100            100     100.000000
               916            100            100     100.000000
               451             92             97      96.333333
               263             93             90      94.000000
               306             87             81      89.000000
               114            100            100      99.666667
               286             82             88      89.000000
               34              87             82      88.666667

C:\Users\Ly Anh Huy\AppData\Local\Temp\ipykernel_24836\3222723173.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  top_10_math_by_race = df.groupby('race/ethnicity').apply(top_10)

In [ ]:
# Task 7: Với những học sinh ở cùng 1 group, cùng parental level of education, cùng loại bữa ăn (lunch), việc tham gia test preparation course có giúp học sinh đó có điểm trung bình 3 môn cao hơn những học sinh không tham gia không
def compare_test_pre(group, education, lunch):
    df_sub = df[(df['race/ethnicity'] == group) & (df['parental level of education'] == education) 
                & (df['lunch'] == lunch)]
    
    return df_sub.groupby('test preparation course')['average score'].mean()

groups = df['race/ethnicity'].unique()
educations = df['parental level of education'].unique()
lunchs = df['lunch'].unique()

for group in groups:
    for edu in educations:
        for lunch in lunchs:
            print('Group: {}. Education: {}. Lunch: {}.'.format(group, edu, lunch))
            print(compare_test_pre(group, edu, lunch))
            print('-----')

Group: group B. Education: bachelor's degree. Lunch: standard.
test preparation course
completed    74.666667
none         71.185185
Name: average score, dtype: float64
-----
Group: group B. Education: bachelor's degree. Lunch: free/reduced.
test preparation course
completed    88.333333
none         68.458333
Name: average score, dtype: float64
-----
Group: group B. Education: some college. Lunch: standard.
test preparation course
completed    78.083333
none         61.820513
Name: average score, dtype: float64
-----
Group: group B. Education: some college. Lunch: free/reduced.
test preparation course
completed    64.611111
none         56.600000
Name: average score, dtype: float64
-----
Group: group B. Education: master's degree. Lunch: standard.
test preparation course
none    88.166667
Name: average score, dtype: float64
-----
Group: group B. Education: master's degree. Lunch: free/reduced.
test preparation course
completed    73.777778
none         51.333333
Name: average score, dtype: float64
-----
Group: group B. Education: associate's degree. Lunch: standard.
test preparation course
completed    78.444444
none         66.148148
Name: average score, dtype: float64
-----
Group: group B. Education: associate's degree. Lunch: free/reduced.
test preparation course
completed    72.400000
none         58.703704
Name: average score, dtype: float64
-----
Group: group B. Education: high school. Lunch: standard.
test preparation course
completed    67.166667
none         63.378788
Name: average score, dtype: float64
-----
Group: group B. Education: high school. Lunch: free/reduced.
test preparation course
completed    63.733333
none         51.575758
Name: average score, dtype: float64
-----
Group: group B. Education: some high school. Lunch: standard.
test preparation course
completed    67.190476
none         66.690476
Name: average score, dtype: float64
-----
Group: group B. Education: some high school. Lunch: free/reduced.
test preparation course
completed    66.666667
none         47.066667
Name: average score, dtype: float64
-----
Group: group C. Education: bachelor's degree. Lunch: standard.
test preparation course
completed    80.923077
none         76.555556
Name: average score, dtype: float64
-----
Group: group C. Education: bachelor's degree. Lunch: free/reduced.
test preparation course
completed    68.857143
none         59.625000
Name: average score, dtype: float64
-----
Group: group C. Education: some college. Lunch: standard.
test preparation course
completed    81.976190
none         66.583333
Name: average score, dtype: float64
-----
Group: group C. Education: some college. Lunch: free/reduced.
test preparation course
completed    65.714286
none         58.770833
Name: average score, dtype: float64
-----
Group: group C. Education: master's degree. Lunch: standard.
test preparation course
completed    78.583333
none         71.133333
Name: average score, dtype: float64
-----
Group: group C. Education: master's degree. Lunch: free/reduced.
test preparation course
completed    67.133333
none         61.200000
Name: average score, dtype: float64
-----
Group: group C. Education: associate's degree. Lunch: standard.
test preparation course
completed    75.727273
none         67.872549
Name: average score, dtype: float64
-----
Group: group C. Education: associate's degree. Lunch: free/reduced.
test preparation course
completed    67.291667
none         64.238095
Name: average score, dtype: float64
-----
Group: group C. Education: high school. Lunch: standard.
test preparation course
completed    67.259259
none         66.708333
Name: average score, dtype: float64
-----
Group: group C. Education: high school. Lunch: free/reduced.
test preparation course
completed    58.722222
none         52.745098
Name: average score, dtype: float64
-----
Group: group C. Education: some high school. Lunch: standard.
test preparation course
completed    72.166667
none         64.333333
Name: average score, dtype: float64
-----
Group: group C. Education: some high school. Lunch: free/reduced.
test preparation course
completed    58.900000
none         55.484848
Name: average score, dtype: float64
-----
Group: group A. Education: bachelor's degree. Lunch: standard.
test preparation course
completed    76.888889
none         65.952381
Name: average score, dtype: float64
-----
Group: group A. Education: bachelor's degree. Lunch: free/reduced.
test preparation course
completed    55.666667
none         66.333333
Name: average score, dtype: float64
-----
Group: group A. Education: some college. Lunch: standard.
test preparation course
completed    77.000000
none         63.111111
Name: average score, dtype: float64
-----
Group: group A. Education: some college. Lunch: free/reduced.
test preparation course
completed    65.166667
none         54.800000
Name: average score, dtype: float64
-----
Group: group A. Education: master's degree. Lunch: standard.
test preparation course
none    53.666667
Name: average score, dtype: float64
-----
Group: group A. Education: master's degree. Lunch: free/reduced.
test preparation course
none    68.166667
Name: average score, dtype: float64
-----
Group: group A. Education: associate's degree. Lunch: standard.
test preparation course
completed    74.000000
none         65.333333
Name: average score, dtype: float64
-----
Group: group A. Education: associate's degree. Lunch: free/reduced.
test preparation course
completed    65.166667
none         56.133333
Name: average score, dtype: float64
-----
Group: group A. Education: high school. Lunch: standard.
test preparation course
completed    75.444444
none         60.833333
Name: average score, dtype: float64
-----
Group: group A. Education: high school. Lunch: free/reduced.
test preparation course
completed    61.666667
none         47.777778
Name: average score, dtype: float64
-----
Group: group A. Education: some high school. Lunch: standard.
test preparation course
completed    69.095238
none         56.833333
Name: average score, dtype: float64
-----
Group: group A. Education: some high school. Lunch: free/reduced.
test preparation course
completed    61.333333
none         55.066667
Name: average score, dtype: float64
-----
Group: group D. Education: bachelor's degree. Lunch: standard.
test preparation course
completed    72.166667
none         73.700000
Name: average score, dtype: float64
-----
Group: group D. Education: bachelor's degree. Lunch: free/reduced.
test preparation course
completed    71.466667
none         63.703704
Name: average score, dtype: float64
-----
Group: group D. Education: some college. Lunch: standard.
test preparation course
completed    77.583333
none         69.573333
Name: average score, dtype: float64
-----
Group: group D. Education: some college. Lunch: free/reduced.
test preparation course
completed    69.523810
none         65.894737
Name: average score, dtype: float64
-----
Group: group D. Education: master's degree. Lunch: standard.
test preparation course
completed    77.500000
none         77.791667
Name: average score, dtype: float64
-----
Group: group D. Education: master's degree. Lunch: free/reduced.
test preparation course
completed    77.083333
none         51.000000
Name: average score, dtype: float64
-----
Group: group D. Education: associate's degree. Lunch: standard.
test preparation course
completed    75.857143
none         70.590909
Name: average score, dtype: float64
-----
Group: group D. Education: associate's degree. Lunch: free/reduced.
test preparation course
completed    75.380952
none         61.071429
Name: average score, dtype: float64
-----
Group: group D. Education: high school. Lunch: standard.
test preparation course
completed    68.333333
none         63.045455
Name: average score, dtype: float64
-----
Group: group D. Education: high school. Lunch: free/reduced.
test preparation course
completed    66.600000
none         60.272727
Name: average score, dtype: float64
-----
Group: group D. Education: some high school. Lunch: standard.
test preparation course
completed    76.333333
none         70.695652
Name: average score, dtype: float64
-----
Group: group D. Education: some high school. Lunch: free/reduced.
test preparation course
completed    64.40
none         51.75
Name: average score, dtype: float64
-----
Group: group E. Education: bachelor's degree. Lunch: standard.
test preparation course
completed    80.095238
none         71.047619
Name: average score, dtype: float64
-----
Group: group E. Education: bachelor's degree. Lunch: free/reduced.
test preparation course
completed    80.777778
none         60.333333
Name: average score, dtype: float64
-----
Group: group E. Education: some college. Lunch: standard.
test preparation course
completed    78.041667
none         71.283333
Name: average score, dtype: float64
-----
Group: group E. Education: some college. Lunch: free/reduced.
test preparation course
completed    65.166667
none         72.333333
Name: average score, dtype: float64
-----
Group: group E. Education: master's degree. Lunch: standard.
test preparation course
completed    95.833333
none         80.111111
Name: average score, dtype: float64
-----
Group: group E. Education: master's degree. Lunch: free/reduced.
test preparation course
none    66.888889
Name: average score, dtype: float64
-----
Group: group E. Education: associate's degree. Lunch: standard.
test preparation course
completed    78.388889
none         73.428571
Name: average score, dtype: float64
-----
Group: group E. Education: associate's degree. Lunch: free/reduced.
test preparation course
completed    74.428571
none         65.888889
Name: average score, dtype: float64
-----
Group: group E. Education: high school. Lunch: standard.
test preparation course
completed    77.166667
none         72.600000
Name: average score, dtype: float64
-----
Group: group E. Education: high school. Lunch: free/reduced.
test preparation course
completed    69.333333
none         54.500000
Name: average score, dtype: float64
-----
Group: group E. Education: some high school. Lunch: standard.
test preparation course
completed    75.380952
none         69.400000
Name: average score, dtype: float64
-----
Group: group E. Education: some high school. Lunch: free/reduced.
test preparation course
completed    73.333333
none         57.000000
Name: average score, dtype: float64
-----